{% extends "app/major/major_base.html" %}

{% block content %}
 <div class="right_col" role="main">
    <div class="">
<h2>A is </h2>
<h2>{{a}}</h2>
{% if a %}
   <h2> SUSpiscious</h2>
{% else %}
<h2>UNSuspious</h2>
{% endif %}

<h2> From db</h2>
<li> {{ svm.algorithm_name }} </li>
<li> {{ knn.precision  }} </li>
<li> {{ svm.accuracy }} </li>
<li> {{ knn.hit }} </li>
<li> {{ knn.algorithm_name }} </li>
<li> {{ knn.precision }} </li>
<li> {{ svm.accuracy }} </li>
<li> {{ knn.hit }} </li>
<li> {{ svm.f1score }} </li>
<li> {{ knn.f1score }} </li>

</div>
</div>
{% endblock content %}