{% extends "app/major/major_base.html" %}

{% block title %} SVM VS KNN {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
 

 <div class="right_col" role="main">
    <div class="">
      <!-- Line graph-->
 <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Line graph</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <canvas id="knn_naive_line"></canvas>
              <input type="hidden" id="a" value="{{a}}">
              <input type="hidden" id="b" value="{{b}}">
            </div>
          </div>
        </div>
 <!-- Line graph-->
     <!--Bar graph Js-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> Bar Graph</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">  
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <!-- <canvas id="mybarChart"> -->
              <canvas id="knn_naive_bar"></canvas>
              
              <input type="hidden" id="ref_m_count" value="{{ref_m_count}}">
              <input type="hidden" id="ref_f_count" value="{{ref_f_count}}">
            </div>
          </div>
        </div>
   
 <!-- Bar Graph End-->

  
  <!-- piechart-->

 <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Pie Graph Chart</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <canvas id="knn_naive_pie"></canvas>
            </div>
          </div>
        </div>

<!-- piechart end-->


           </div>
    </div>
       
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="/static/build/js/knn_naive_bar.js"></script>
    <script src="/static/build/js/knn_naive_line.js"></script>
    <script src="/static/build/js/knn_naive_pie.js"></script>


{% endblock javascripts %}
