{% extends "app/major/major_base.html" %}

{% block title %} SVM VS KNN {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
 

 <div class="right_col" role="main">
    <div class="">
      <!-- Line graph-->
<!--  <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Line Graph</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <canvas id="svm_knn_line"></canvas>
              <input type="hidden" id="svm_p" value="{{svm.precision}}">
              <input type="hidden" id="knn_p" value="{{knn.precision}}">
             <input type="hidden" id="svm_a" value="{{svm.accuracy}}">
              <input type="hidden" id="knn_a" value="{{knn.accuracy}}">
                    <input type="hidden" id="svm_h" value="{{svm.hit}}">
              <input type="hidden" id="knn_h" value="{{knn.hit}}">
               <input type="hidden" id="svm_m" value="{{svm.miss}}">
              <input type="hidden" id="knn_m" value="{{knn.miss}}">
                    <input type="hidden" id="svm_t" value="{{svm.tnr}}">
              <input type="hidden" id="knn_t" value="{{knn.tnr}}">
                    <input type="hidden" id="svm_f" value="{{svm.fallout}}">
              <input type="hidden" id="knn_f" value="{{knn.fallout}}">
                    <input type="hidden" id="svm_s" value="{{svm.f1score}}">
              <input type="hidden" id="knn_s" value="{{knn.f1score}}">


            </div>
          </div>
        </div> -->
 <!-- Line graph-->
     <!--Bar graph Js-->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> Bar Chart </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">  
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <!-- <canvas id="mybarChart"> -->
              <canvas id="svm_knn_bar"></canvas>
              <input type="hidden" id="svm_p" value="{{svm.precision}}">
              <input type="hidden" id="knn_p" value="{{knn.precision}}">
             <input type="hidden" id="svm_a" value="{{svm.accuracy}}">
              <input type="hidden" id="knn_a" value="{{knn.accuracy}}">
                    <input type="hidden" id="svm_h" value="{{svm.hit}}">
              <input type="hidden" id="knn_h" value="{{knn.hit}}">
               <input type="hidden" id="svm_m" value="{{svm.miss}}">
              <input type="hidden" id="knn_m" value="{{knn.miss}}">
                    <input type="hidden" id="svm_t" value="{{svm.tnr}}">
              <input type="hidden" id="knn_t" value="{{knn.tnr}}">
                    <input type="hidden" id="svm_f" value="{{svm.fallout}}">
              <input type="hidden" id="knn_f" value="{{knn.fallout}}">
                    <input type="hidden" id="svm_s" value="{{svm.f1score}}">
              <input type="hidden" id="knn_s" value="{{knn.f1score}}">


            </div>
          </div>
        </div>
   
 <!-- Bar Graph End-->

  
  <!-- piechart-->

 <!-- <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Pie Graph Chart </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <canvas id="svm_knn_pie"></canvas>
            </div>
          </div>
        </div> -->

<!-- piechart end-->



 <!--Matplotlib-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
             <img align= "left" height="290" width="450" src="/static/app/knnroc.png">
            </div>
          </div>
        </div>

 <!--Matplotlib-->
 <!--Matplotlib-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
             <img align= "left" height="290" width="450" src="/static/app/LogisticRegression.png">
            </div>
          </div>
        </div>

 <!--Matplotlib-->


 



           </div>
    </div>
       
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="/static/build/js/svm_knn_bar.js"></script>
    <script src="/static/build/js/svm_knn_line.js"></script>
    <script src="/static/build/js/svm_knn_pie.js"></script>


{% endblock javascripts %}
